# ROS2 build artifacts
build/
install/
log/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# VS Code
.vscode/
.env

# Sistema
*.swp
*.swo
.DS_Store

# Modelos YOLO
*.pt
*.onnx
*.weights

# Datasets
*.zip
meraki_senales_dataset/
meraki_vision/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Entornos virtuales
*_env/
venv/
